/* Fonts (plus tard) */

@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Core styles */
html, body {
    font-family: 'Montserrat', 'Lucida Sans', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    background-color: ghostwhite;
}


img {
    object-fit: contain;
    object-position: center;
}

header {
    background-color: ghostwhite;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 50px;
    
    & img {
        max-width: 150px;
    }
}

nav {
    flex-wrap: nowrap;
    font-weight: 600;
    & a {
        color: #22376a;
        text-decoration: none;
        font-size: x-large;
        margin: 10px;
        transition: 0.2s;
        
        &:hover {
            border-bottom: solid #22376a 3px;
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; 
    justify-content: space-between;
    align-items: center;
    background-color: #22376a;
    padding: 30px;

    & span {
        color: ghostwhite;
        font-weight: bold;
        font-size: 1.5em;
    }
    & img {
        width: 100px;
        background-color: #f8f8ff;
        border-radius: 100%;
        margin: 10px;
    }
    & a {
        color: ghostwhite;
        text-decoration: none;

        &:hover {
            text-decoration-line:underline;
        }
    } 
}

div.reseaux {
    margin-top: 20px;
    margin-bottom: 30px;
}

/* Slider */

.slider {
    display: block;
    position: relative;
    overflow: hidden;
}

.slider-imgs{
    display: flex;
    flex-flow: row nowrap;
}

.slider>img {
    
    flex: 1 0 100%;
    width: 100%;
    position: relative;
}

.arrow {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0);
    font-size: 5em;
    cursor: pointer;
    transition: 0.2s;
    
    &.left {
        left: 5px;
    }

    &.right {
        right: 5px;
    }

    &:hover {
        
        color: rgba(255, 255, 255, 0.5);
    }
}


/* Home page */


section.corps {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 50px;
    gap: 50px;

    & img, & .slider {
       height: 450px;
       width: 600px;
    }
}

div.corps-text {
    text-align: justify;
    max-width: 550px;
    min-width: 300px;
    flex: 1 1 300px;
}

/* About page */
#about_text{
    padding: 50px 150px 50px 150px;
}


#photo-d-accueil {
    width: 100%;
    margin: 0 !important;
    position: relative;

    & > img{
        object-fit: cover;
        width: 100%;
        height: 550px;
    }

    & h1 {
        margin: 0 !important;
        font-family: "Saira Stencil One", serif;
        color: white;
        font-weight: bold;
        font-size: 55px;
        position: absolute;
        top: 50%;
        left: 20px;
    }

}